/* Ajusta para Brite / Bootswatch */
:root {
  --toastify-color-light: var(--bs-body-bg);
  --toastify-color-dark: var(--bs-dark);
  --toastify-text-color-light: var(--bs-body-color);
  --toastify-text-color-dark: var(--bs-light);
  --toastify-color-info: var(--bs-info);
  --toastify-color-success: var(--bs-success);
  --toastify-color-warning: var(--bs-warning);
  --toastify-color-error: var(--bs-danger);

  --toastify-toast-bd-radius: var(--bs-border-radius-lg);
  --toastify-toast-shadow: var(--bs-box-shadow-lg);
  --toastify-font-family: var(--bs-body-font-family);
  --toastify-toast-padding: 0.9rem 1rem;
}

/* Opcional: look más “Bootstrap toast” */
.Toastify__toast {
  border: 1px solid var(--bs-border-color);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.Toastify__close-button {
  color: var(--bs-body-color);
}

.Toastify__progress-bar {
  background: var(--bs-primary);
}

.btn-xs {
  padding: 0.3rem 0.2rem;
  font-size: 0.5rem;
  line-height: 1;
  border-width: 1px;
  background-color: transparent;
  display: inline-block;
}

.btn-xs:hover {
  border: 1 px solid black;
  background-color: transparent;
  transform: none;
  transition: none;
  box-shadow: none;
}

/* Override bootstrap theme */

#root {
  padding: 1rem !important;
}

/* El selector hereda del html[data-bs-theme="dark"] */
[data-bs-theme='dark'] .nav-tabs .nav-link.active,
[data-bs-theme='dark'] .nav-tabs .nav-link:hover {
  border: 2px solid #fff;
  color: #fff;
}

[data-bs-theme='dark'] .nav-tabs {
  border: 2px solid #fff;
}

.nav-tabs {
  background-color: var(--bs-body-bg);
}

.nav-cart-link:not(:hover):not(.active) {
  border: 1px solid #d3d3d3 !important;
}

.navbar {
  gap: 0.5rem;
}

[data-bs-theme='dark'] .BsHouseFillColor {
  color: #fff;
}



/* -------------- */


.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

[data-bs-theme='dark'] .loading-container .spinner-border {
  color: var(--bs-primary) !important;
  border-color: currentColor;
  border-right-color: transparent;
}

[data-bs-theme='light'] .loading-container .spinner-border {
  color: var(--bs-primary) !important;
}