/* Ajusta para Brite / Bootswatch */
:root {
  --toastify-color-light: var(--bs-body-bg);
  --toastify-color-dark: var(--bs-dark);
  --toastify-text-color-light: var(--bs-body-color);
  --toastify-text-color-dark: var(--bs-light);
  --toastify-color-info: var(--bs-info);
  --toastify-color-success: var(--bs-success);
  --toastify-color-warning: var(--bs-warning);
  --toastify-color-error: var(--bs-danger);

  --toastify-toast-bd-radius: var(--bs-border-radius-lg);
  --toastify-toast-shadow: var(--bs-box-shadow-lg);
  --toastify-font-family: var(--bs-body-font-family);
  --toastify-toast-padding: 0.9rem 1rem;
}

/* Opcional: look más “Bootstrap toast” */
.Toastify__toast {
  border: 1px solid var(--bs-border-color);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.Toastify__close-button {
  color: var(--bs-body-color);
}

.Toastify__progress-bar {
  background: var(--bs-primary);
}

.btn-xs {
  padding: 0.3rem 0.2rem;
  font-size: 0.5rem;
  line-height: 1;
  border-width: 1px;
  background-color: transparent;
  display: inline-block;
}

.btn-xs:hover {
  border: 1 px solid black;
  background-color: transparent;
  transform: none;
  transition: none;
  box-shadow: none;
}





